.col-xs-12.col-sm-6
  = image_tag 'student.jpg'

  %h3
    As a Student

  .row
    .col-xs-12
      %ul
        %li
          Learn specific skills
        %li
          Gain industry perspective
        %li
          Have a sounding board
