.col-xs-12.col-sm-6
  = image_tag 'mentor.jpg'

  %h3
    As a Mentor

  .row
    .col-xs-12
      %ul
        %li
          Build leadership skills
        %li
          Confirmation of skills
        %li
          Be part of a cause
